[Unit]
Description=HDFS NameNode
After=network.target

[Service]
Type=forking
Environment=JAVA_HOME={{ java_home }}
Environment=HADOOP_HOME={{ hadoop_home }}
WorkingDirectory={{ hadoop_home }}
ExecStart={{ hadoop_home }}/bin/hdfs --daemon start namenode
ExecStop={{ hadoop_home }}/bin/hdfs --daemon stop datanode
User={{ hadoop_user }}
KillMode=process
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
