c.NotebookApp.ip = '0.0.0.0'
c.NotebookApp.open_browser = False
c.NotebookApp.port = 8888
c.NotebookApp.notebook_dir = '{{ home }}/jupyter'
c.NotebookApp.password = "{{ jupyter_notebookapp_password.stdout }}"
c.NotebookApp.base_url = '/jupyter'
