[Unit]
Description=Jupyter Lab
After=network.target

[Service]
Environment=SPARK_HOME={{ spark_home }}
Environment=PYSPARK_PYTHON={{ venv_dir }}/bin/python
ExecStart={{ venv_dir }}/bin/jupyter lab --config={{ home }}/.jupyter/jupyter_notebook_config.py
User={{ user }}
KillMode=process
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
