[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target

[Service]
Type=forking
PIDFile={{ nginx_prefix }}/logs/nginx.pid
ExecStartPre={{ nginx_prefix }}/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart={{ nginx_prefix }}/sbin/nginx -g 'daemon on; master_process on;'
ExecReload={{ nginx_prefix }}/sbin/nginx -g 'daemon on; master_process on;' -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile {{ nginx_prefix }}/logs/nginx.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target

